<ion-tabs #tabs (ionTabsDidChange)="currentTabChange()" >

  <ion-tab-bar slot="bottom" style="padding-bottom:1.5ch">
    <ion-tab-button tab="tabInicio">
        <ion-icon name={{this.tabIconName.inicio.current}} size="small"></ion-icon>
        <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tabBusca">
        <ion-icon name={{this.tabIconName.busca.current}} size="small"></ion-icon>
        <ion-label>Busca</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tabPedidos">
        <ion-icon name={{this.tabIconName.pedidos.current}} size="small"></ion-icon>
        <ion-label>Pedidos</ion-label>
        <ion-badge color="primary">1</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="tabPerfil">
        <ion-icon name={{this.tabIconName.perfil.current}} size="small"></ion-icon>
        <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
