<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>



  <ion-slides pager="true" [options]="slideOpts" >

    <ion-slide>
      <div class="slide">
        <img src="./slide-1.png"/>
        <h2>Welcome</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>


    <ion-slide>
        <div class="slide">
          <img src="./slide-1.png"/>
          <h2>Welcome</h2>
          <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
        </div>
      </ion-slide>

  </ion-slides>
</ion-content>
