<ion-header>
    <ion-toolbar>
        <ion-item lines="none" color="light" style="padding:15px;">
            <ion-icon slot="start" color="primary" name="search-outline"></ion-icon>
            <ion-input placeholder="Item ou loja"></ion-input>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>

    
    <ion-grid>
        <h3>Categorias</h3>
        <ion-row>
            <ion-col>
                <ion-label color="light">Carnes</ion-label>
                <ion-img src="assets/img/categ-carne.png"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Pizza</ion-label>
                <ion-img src="assets/img/categ-pizza.png"></ion-img>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
                <ion-label color="light">Hot-dog</ion-label>
                <ion-img src="assets/img/categ-hotdog.png"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Lanche</ion-label>
                <ion-img src="assets/img/categ-lanche.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label color="light">Carnes</ion-label>
                <ion-img src="assets/img/categ-carne.png">
                </ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Pizza</ion-label>
                <ion-img src="assets/img/categ-pizza.png"></ion-img>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
                <ion-label color="light">Hot-dog</ion-label>
                <ion-img src="assets/img/categ-hotdog.png"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Lanche</ion-label>
                <ion-img src="assets/img/categ-lanche.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label color="light">Carnes</ion-label>
                <ion-img src="assets/img/categ-carne.png">
                </ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Pizza</ion-label>
                <ion-img src="assets/img/categ-pizza.png"></ion-img>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
                <ion-label color="light">Hot-dog</ion-label>
                <ion-img src="assets/img/categ-hotdog.png"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Lanche</ion-label>
                <ion-img src="assets/img/categ-lanche.png"></ion-img>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label color="light">Carnes</ion-label>
                <ion-img src="assets/img/categ-carne.png">
                </ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Pizza</ion-label>
                <ion-img src="assets/img/categ-pizza.png"></ion-img>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
                <ion-label color="light">Hot-dog</ion-label>
                <ion-img src="assets/img/categ-hotdog.png"></ion-img>
            </ion-col>
            <ion-col>
                <ion-label color="light">Lanche</ion-label>
                <ion-img src="assets/img/categ-lanche.png"></ion-img>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>