<ion-header translucent="false" class="ion-no-border">


    <ion-toolbar style="--margin-bottom:0;--min-height:0">
        <!-- <ion-title>Tab 01</ion-title> -->

        
            <ion-button color="dark" fill="clear" size="small" slot="start">
                <strong>R. Dinamarca, 80</strong>
                <ion-icon slot="end" name="chevron-down-outline" color="primary" size="small"></ion-icon>
            </ion-button>
            <ion-button fill="clear" slot="end" size="small">
                <ion-icon name="qr-code-outline" color="primary" slot="end" ></ion-icon>
            </ion-button>
            
        

        
    </ion-toolbar>


    <ion-toolbar style="--min-height:0; margin-top:-5px">
        <ion-segment (ionChange)="segmentChanged($event)" mode="md" [(ngModel)]="segmentModel"  scrollable="true">
            <ion-segment-button value="restaurantes">
                <ion-label>Restaurantes</ion-label>
            </ion-segment-button>
            <ion-segment-button value="mercados">
                <ion-label>Mercados</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    
    <!-- <img src="https://static-images.ifood.com.br/image/upload/t_low/discoveries/new_GROCbebi.png">
    <img src="https://static-images.ifood.com.br/image/upload/t_low/discoveries/new_grocfarma.png">
    <img src="https://static-images.ifood.com.br/image/upload/t_low/discoveries/new_petCON.png">
    <img src="https://static-images.ifood.com.br/image/upload/t_low/discoveries/new_GROCCON.png"> 
    <img src="https://static-images.ifood.com.br/image/upload/t_low/discoveries/Lanches-out_20.jpg">
-->


    

    <div *ngIf="segmentModel === 'mercados'"></div>
    <div *ngIf="segmentModel === 'restaurantes'">

        <div style="overflow: auto;" class="hideScroll">
            <div style="width:max-content;">
                <ion-chip color="medium" outline="true">
                    <ion-label color="dark">Ordenar <ion-icon name="chevron-down-outline" color="primary"
                            style="margin-bottom: -2px;"></ion-icon>
                    </ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label color="primary">
                        <ion-icon name="walk-sharp"></ion-icon> Para retirar
                    </ion-label>
                </ion-chip>
                <ion-chip color="medium" outline="true">
                    <ion-label color="dark">Entrega grátis</ion-label>
                </ion-chip>
                <ion-chip color="medium" outline="true">
                    <ion-label color="dark">Secondary</ion-label>
                </ion-chip>
            </div>
        </div>

        <!-- <ion-header collapse="condense">
        <ion-toolbar>
        <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header> -->







    
    <ion-slides pager="true" [options]="slideOpts" #slider class="my-custom-slider">
        <ion-slide>
            <img src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-1.png"/>
        </ion-slide>
        <ion-slide>
            <img src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-2.png"/>
        </ion-slide>
        <ion-slide>
            <img src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-3.png"/>
        </ion-slide>

      </ion-slides>

    













        <ion-list lines="none">
            <ion-list-header>Lojas</ion-list-header>

            <ion-item button detail="false">
                <ion-avatar slot="start" style="width:45px; height:45px;">
                    <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
                </ion-avatar>
                <ion-label>
                    <h3><strong>Nome loja</strong></h3>
                    <p>
                        <ion-text color="warning">
                            <ion-icon name="star-sharp"></ion-icon> 4,6
                        </ion-text> .
                        <ion-text color="medium">Pizza</ion-text> .
                        <ion-text color="medium">6,2 km</ion-text>
                    </p>
                    <p>
                        <ion-text color="medium">40-55 min . R$6,00</ion-text>
                    </p>
                    <p>
                        <ion-chip color="warning">
                            <ion-label>
                                <ion-icon name="star-sharp"></ion-icon>
                                Peça 3 vezes, e ganhe R$ 10
                            </ion-label>
                        </ion-chip>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item button detail="false" *ngFor="let i of [].constructor(10)">
                <ion-avatar slot="start" style="width:45px; height:45px;">
                    <img src="https://ionicframework.com/docs/demos/api/list/avatar-finn.png">
                </ion-avatar>
                <ion-label>
                    <h3><strong>Nome loja</strong></h3>
                    <p>
                        <ion-text color="warning">
                            <ion-icon name="star-sharp"></ion-icon> 4,6
                        </ion-text> .
                        <ion-text color="medium">Pizza</ion-text> .
                        <ion-text color="medium">6,2 km</ion-text>
                    </p>
                    <p>
                        <ion-text color="medium">40-55 min . R$6,00</ion-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>





        <!-- <app-explore-container name="Tab 1 page" descricao="lorem ipsum dolore 1"></app-explore-container> -->


    </div>

</ion-content>